<mat-card>
    <mat-card-header>
        <mat-card-title>Simple and working .gitlab-ci.yml</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <pre>
        image: node:10
  
        pages:
          cache:
            paths:
              - node_modules/
          script:
            - npm install -g @angular/cli
            - npm install
            - npm run buildProd
          artifacts:
            paths:
              - public
          only:
            - master
            - pages      
      </pre>

        <mat-selection-list #shoes [multiple]="false">
            <mat-list-option *ngFor="let msg of messages">
                {{msg}}
            </mat-list-option>
        </mat-selection-list>
    </mat-card-content>
    <img src="assets/dna.jpg" alt="">

    <mat-card-content>

        <a mat-raised-button color="primary" href="https://gitlab.com/bmi/ng-ci" target="_blank"
            class="button-margin">Gitlab source</a>

        <a mat-raised-button color="primary" href="https://bmi.gitlab.io/ng-ci/" target="_blank"
            class="button-margin">Gitlab hosted page</a>


        <a mat-raised-button color="primary"
            href="https://medium.com/@ana.dvorkina/deploy-your-angular-cli-project-to-gitlab-pages-24bff07b90be"
            target="_blank">Thanks to</a>
        <p></p>



    </mat-card-content>


    <mat-card-actions>
        <button mat-button>Ok</button>
    </mat-card-actions>
</mat-card>