<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/home']">
        <mat-icon>home</mat-icon>
        Home
      </a>
      <a mat-list-item [routerLink]="['/table']">
        <mat-icon>table</mat-icon>
        Table
      </a>
      <a mat-list-item [routerLink]="['/dash']">
        <mat-icon>dashboard</mat-icon>
        Dashboard
      </a>
      <a mat-list-item [routerLink]="['/drag']">
        <mat-icon>drag_indicator</mat-icon>
        Drag & Drop
      </a>
      <a mat-list-item [routerLink]="['/tree']">
        <mat-icon>account_tree</mat-icon>
        Tree
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Demo of .gitlab-ci.yml for Angular 9</span>
      <div class="spacer"></div>
      <mat-slide-toggle (change)="service.isDark=!service.isDark">Light</mat-slide-toggle>

    </mat-toolbar>
    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>